<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>GOLD STOCK INVESTMENT</title>
        <meta name="description" content="골드스탁인베스트먼트">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">


        <link rel="stylesheet" href="/static/css/iconfont.css">
        <link rel="stylesheet" href="/static/css/slick/slick.css">
        <link rel="stylesheet" href="/static/css/slick/slick-theme.css">
        <link rel="stylesheet" href="/static/css/stylesheet.css">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/jquery.fancybox.css">
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/magnific-popup.css">
        <!--        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">-->


        <!--For Plugins external css-->
        <link rel="stylesheet" href="/static/css/plugins.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="/static/css/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="/static/css/responsive.css" />

        <script src="/static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body data-spy="scroll" data-target=".navbar-collapse" style="">

        <div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <div class="culmn">
            <header id="main_menu" class="header navbar-fixed-top">            
                <div class="main_menu_bg">
                    <div class="container">
                        <div class="row">
                            <div class="nave_menu">
                                <nav class="navbar navbar-default">
                                    <div class="container-fluid">
                                        <!-- Brand and toggle get grouped for better mobile display -->
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                            <a class="navbar-brand" href="#home">
                                                <!-- <img src="/static/images/gsi/logohome.jpg"/> -->
                                            </a>
                                        </div>

                                        <!-- Collect the nav links, forms, and other content for toggling -->



                                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                            <ul class="nav navbar-nav navbar-right">
                                                <li><a href="#home">HOME</a></li>
                                                <li><a href="#info">회사소개</a></li>
                                                <li><a href="#professional">전문가소개</a></li>
                                                <li><a href="#service">서비스안내</a></li>
                                                <li><a href="#contact">고객센터</a></li>
                                            </ul>


                                        </div>

                                    </div>
                                </nav>
                            </div>	
                        </div>

                    </div>

                </div>
            </header> <!--End of header -->




            <!--home Section -->
            <section id="home" class="home">
                <div class="overlay">
                    <div class="home_skew_border">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 ">
                                    <div class="main_home_slider text-center">
                                        <div class="single_home_slider">
                                            <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                                
                                                <h1>WELCOME TO GSI</h1>
                                                <div class="separator"></div>
                                                <p>항상 고객의 입장에 있어서 생각할 것이며
													믿음을 주신만큼 최선을 다할 것을 약속드립니다.</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="scrooldown">
                            <a href="#info"><i class="fa fa-arrow-down"></i></a>
                        </div>
                    </div>
                </div>
            </section><!--End of home section -->

            <!-- info section -->
            <section id="info" class="history sections">
                <div class="container">
                    <div class="row">
                        <div class="main_history">
                            <div class="col-sm-6">
                                <div class="single_history_img">
                                    <img src="/static/images/gsi/gsiLogo.jpg" alt="" />
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="single_history_content">
                                    <div class="head_title" style="margin-bottom:70px;">
                                        <h2>회사소개</h2>
                                    </div>
                                    <p>저희 쥐에스아이( 이하 골드스탁인베스트먼트) 는 과장되고 허위정보로 현혹을 시키는 
										업체가 아닌 투명하고 정직한 업체임을 먼저 보여드리고 진행하고있습니다.
										관리가 없는 수익은 있을 수 없으며 최대한 고객의 입장에 있어서 생각을 할 것이며
										믿음을 주신만큼 저희 또한 최선을 다할것은 약속드립니다.</p>

                                    <!-- <a href="" class="btn btn-lg">BROWSE OUR WORK</a> -->
                                </div>
                            </div>
                        </div>
                    </div><!--End of row -->
                </div><!--End of container -->
            </section><!--End of history -->
            
            
            
            <!-- professional section -->
            <section id="professional" class="history sections" style="padding-bottom:0px;">
                <div class="main_team_area">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="head_title textwhite text-center margin-top-80">
                                    <h2>전문가 소개</h2>
                                    <div class="subtitle">
                                    GSI 전문가 소개
                                    </div>
                                    <div class="separator"></div>
                                </div><!-- End off Head_title -->

                                <div class="main_team">
                                    <ul>
                                        <li>
                                            <div class="single_team_img">
                                                <img src="/static/images/gsi/team/men.jpg" alt="" />
                                            </div>
                                            <div class="single_team_text">
                                                <h4 style="margin:0px 0px 10px 0px;font-family:'open_sansbold';">수석애널리스트 김현덕</h4>
                                                <div class="">
	                                                <p style="margin:0px 0px 10px 0px; line-height:1rem; font-size:0.95rem">단기매매를 중점으로 공략</p>
	                                                <p style="margin:0px 0px 10px 0px; line-height:1rem; font-size:0.95rem">거래일 1-5일이내 수익실현</p>
	                                                <p style="margin:0px 0px 10px 0px; line-height:1rem; font-size:0.95rem">차트분석/실전매매 전문가</p>
                                                </div>

                                            </div>
                                        </li>
                                        <li>
                                            <div class="single_team_img">
                                                <img src="/static/images/gsi/team/kim.jpg" alt="" />
                                            </div>
                                            <div class="single_team_text">
                                                <h4 style="margin:0px 0px 10px 0px;font-family:'open_sansbold';">여의도김선생</h4>
                                                <div class="">
	                                                <p style="margin:0px 0px 10px 0px; line-height:1rem; font-size:0.95rem">스윙종목 위주로 공략</p>
	                                                <p style="margin:0px 0px 10px 0px; line-height:1rem; font-size:0.95rem">거래일 7-20일 이내 수익실현</p>
	                                                <p style="margin:0px 0px 10px 0px; line-height:1rem; font-size:0.95rem">前 H투자증권 경력 15년 <br/>"주가에 쏟은 정성과 시간은 배신하지 않는다"</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="single_team_img">
                                                <img src="/static/images/gsi/team/dosa.jpg" alt="" />
                                            </div>
                                            <div class="single_team_text">
                                                <h4 style="margin:0px 0px 10px 0px;font-family:'open_sansbold';">주식도사</h4>
                                                <div class="">
	                                                <p style="margin:0px 0px 10px 0px; line-height:1rem; font-size:0.95rem">S투자연구소 소장 역임</p>
	                                                <p style="margin:0px 0px 10px 0px; line-height:1rem; font-size:0.95rem">P사, H투자증권 전문가 활동</p>
	                                                <p style="margin:0px 0px 10px 0px; line-height:1rem; font-size:0.95rem">K사 애널리스트 <br/>'2019년  BEST 전문가'</p>
	                                                <p style="margin:0px 0px 10px 0px; line-height:1rem; font-size:0.95rem">장기프로젝트 중장기종목 전문</p>
	                                                <p style="margin:0px 0px 10px 0px; line-height:1rem; font-size:0.95rem">종목당 최소수익 50% 진행</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div><!-- End of main team contant --> 
                        </div>
                    </div><!-- End of container -->
                </div>                
            </section><!--End of history -->

            <!-- service Section -->
            <section id="service" class="pricing"  style="background-color: rgba(41, 39, 34, 0.35);">
                <div class="container">
                    <div class="row">
                        <div class="main_pricing_area sections">
                            <div class="head_title text-center" style="margin-bottom:30px;">
                                <h2>서비스 안내</h2>
                                <div class="subtitle">
                       			           VIP입회비 및 혜택안내
                                </div>
                                <div class="separator"></div>
                            </div><!-- End off Head_title -->
                            <div class="col-sm-12 text-center">
                                <div class="single_pricing pricing_business">
                                	<div class="">
		                                <div class="single_history_img">
		                                    <img src="/static/images/gsi/service.jpg" alt=""  />
		                                </div>
                                	</div>
                            </div> <!-- End off col-md-4 -->
                 </div>
<!--                             <div class="col-md-4 col-sm-6">
                                <div class="single_pricing pricing_business">
                                    <div class="pricing_head">
                                        <h3>총 35일</h3>
                                        <div class="pricing_price">
                                            <div class="p_r text-center">30</div>
                                            <div class="m_t text-center">days</div>
                                        </div>
                                    </div>

                                    <div class="pricing_body">
                                        <ul>
                                        	<li>+5일 더!</li>
                                        </ul>
										<div style="border-radius:2px;width:150px;height:50px;box-sizing:border-box;margin-top:10px;margin:aouto; display:inline-block; 
													background:#e74c3c; padding:1rem 2rem; letter-spacing:1px; color:#fff;font-family:'open_sansbold';font-size=0.8125rem;">
										500,000원
										</div>
                                        <a href="" class="btn btn-md">500,000원</a>
                                    </div>
                                </div>
                            </div> End off col-md-4
                             <div class="col-md-4 col-sm-6">
                                <div class="single_pricing pricing_business">
                                    <div class="pricing_head">
                                        <h3>총 70일</h3>
                                        <div class="pricing_price">
                                            <div class="p_r text-center">60</div>
                                            <div class="m_t text-center">days</div>
                                        </div>
                                    </div>

                                    <div class="pricing_body">
                                        <ul>
                                   	    	 <li>+10일 더!</li>
                                        </ul>
										<div style="border-radius:2px;width:150px;height:50px;box-sizing:border-box;margin-top:10px;margin:aouto; display:inline-block; 
													background:#e74c3c; padding:1rem 2rem; letter-spacing:1px; color:#fff;font-family:'open_sansbold';font-size=0.8125rem;">
										800,000원
										</div>                                        

                                    </div>
                                </div>
                            </div> End off col-md-4
                            <div class="col-md-4 col-sm-6">
                                <div class="single_pricing pricing_business">
                                    <div class="pricing_head">
                                        <h3>총 110일</h3>
                                        <div class="pricing_price">
                                            <div class="p_r text-center">90</div>
                                            <div class="m_t text-center">days</div>
                                        </div>
                                    </div>

                                    <div class="pricing_body">
                                        <ul>
                                   	    	 <li>+20일 더!</li>
                                        </ul>
										<div style="border-radius:2px;width:150px;height:50px;box-sizing:border-box;margin-top:10px;margin:aouto; display:inline-block; 
													background:#e74c3c; padding:1rem 2rem; letter-spacing:1px; color:#fff;font-family:'open_sansbold';font-size=0.8125rem;">
										1,100,000원
										</div>                                        

                                    </div>
                                </div>
                            </div> End off col-md-4      -->                                                  
                            
<!--                             <div class="col-md-4 col-sm-6">
                                <div class="single_pricing pricing_business">
                                    <div class="pricing_head ">
                                        <h3>PREMIUM</h3>
                                        <div class="pricing_price">
                                            <div class="p_r text-center">$39</div>
                                            <div class="m_t text-center">per month</div>
                                        </div>
                                    </div>

                                    <div class="pricing_body">
                                        <ul>
                                            <li>Competition Analysis Methods</li>
                                            <li>All Ranked URLs</li>
                                            <li>International Support System</li>
                                            <li>Social Media Tracking</li>
                                        </ul>
                                        <a href="" class="btn btn-md">CHOOSE PLAN</a>
                                    </div>
                                </div>
                            </div> End off col-md-4
                            <div class="col-md-4 col-sm-6">
                                <div class="single_pricing">
                                    <div class="pricing_head">
                                        <h3>BUSINESS</h3>
                                        <div class="pricing_price">
                                            <div class="p_r text-center">$99</div>
                                            <div class="m_t text-center">per month</div>
                                        </div>
                                    </div>

                                    <div class="pricing_body">
                                        <ul>
                                            <li>Competition Analysis Methods</li>
                                            <li>All Ranked URLs</li>
                                            <li>International Support System</li>
                                            <li>Social Media Tracking</li>
                                        </ul>
                                        <a href="" class="btn btn-md">CHOOSE PLAN</a>
                                    </div>
                                </div>
                            </div> End off col-md-4 -->
                        </div>
                    </div><!-- End off row -->
                </div><!-- End off container -->
            </section><!-- End off Pricing Section -->



            <section id="contact" class="contact" style="background-color: rgba(41, 39, 34, 0.25);">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="contact_contant sections">
                                 <div class="head_title text-center" style="margin-bottom:50px;">
                                    <h2>찾아오시는 길</h2>
                                    <div class="separator"></div>
                                </div><!-- End off Head_title  -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="main_contact_info" >
                                            <div class="row">
                                                <div class="contact_info_content padding-top-90 padding-bottom-60 p_l_r" style="background-color: transparent;">
                                                
                                                
									                        <div class="main_history">
									                            <div class="col-sm-7">
									                                <div class="single_history_img" style="border:2px solid rgba(41, 39, 34, 0.55);">
									                                	<img src="/static/images/gsi/place.PNG" alt="" />
									                                </div>
									                            </div>
									
									                            <div class="col-sm-5">
									                            <div style="box-sizing:border-box;padding:15px;">
									                            	<img src="/static/images/gsi/gsiLogo.jpg" alt="" style="border:2px solid rgba(41, 39, 34, 0.55);"/>
									                            </div>
									                            
									                                <div class="single_history_content">
									                                    <div class="head_title" style="margin-top:40px;margin-bottom:40px;">
									                                        <h2>계좌 안내</h2>
									                                    </div>
									                                    <p class="text-center" >
									                                    	<span><img src="/static/images/gsi/wooribank.jpg" alt="" width="180px" height="44px;" style="border:2px solid rgba(41, 39, 34, 0.55);"/></span>
									                                    	<br/>
									                                    	<br/>
									                                    	<span style="font-family:'open_sansbold';font-size:2rem;">1005-603-960868</span>
									                                    	<br/>
									                                    	<span style="font-family:'open_sansbold';font-size:2rem;">(우리은행) 예금주 : 쥐에스아이 </span>
									                                    </p>
									
									                                    <!-- <a href="" class="btn btn-lg">BROWSE OUR WORK</a> -->
									                                </div>
									                            </div>
									                        </div>                                                
                                                
                                                
<!--                                                   	<div class="col-sm-12 text-center">
                                                        <div class="single_contact_info">
							                                <div class="single_history_img">
							                                    <img src="/static/images/gsi/place.PNG" alt="" />
							                                </div>
                                                        </div>
                                                    </div>    -->  
<!--                                                    <div class="col-sm-12">
                                                        <div class="single_contact_info">
                                                            <div class="single_info_text">
                                                                <h3>(주)쥐에스아이</h3>
                                                                <h4>GSI (GOLD STOCK INVESTMENT)</h4>
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                    <div class="col-sm-12" style="margin-top:20px;">
                                                        <div class="single_contact_info">
                                                            <div class="single_info_text">
                                                                <h3>ADDRESS</h3>
                                                                <h4>서울 강서구 마곡중앙로 59-17(마곡동,류마타워2)503호, Magokjungang-ro, Gangseo-gu, Seoul, Korea</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="single_contact_info" style="margin-bottom:0px;">
                                                            <div class="single_info_text">
                                                                <h3>TEL</h3>
                                                                <h4>- 070-8064-5875</h4>
<!--                                                                  <div class="separator"></div> -->
<!--                                                                 <h4>&nbsp;</h4>
                                                                <div class="separator"></div>
                                                                <h4>- 사업자등록번호 : 251-56-00454</h4>
                                                                <h4>- 대표자 : 김형주 </h4> -->
                                                            </div>
                                                        </div>
                                                    </div> 
                                                    
<!-- 									                        <div class="main_history">
									                            <div class="col-sm-6">
									                                <div class="single_history_img">
									                                    <img src="/static/images/gsi/gsiLogo.jpg" alt="" />
									                                </div>
									                            </div>
									
									                            <div class="col-sm-6">
									                                <div class="single_history_content">
									                                    <div class="head_title" style="margin-bottom:10px;">
									                                        <h2>계좌 안내</h2>
									                                    </div>
									                                    <p class="text-center" >
									                                    	<span><img src="/static/images/gsi/wooribank.jpg" alt="" width="180px" height="44px;" /></span>
									                                    	<br/>
									                                    	<br/>
									                                    	<span style="font-family:'open_sansbold';font-size:2rem;">1005-603-960868</span>
									                                    	<br/>
									                                    	<span style="font-family:'open_sansbold';font-size:2rem;">(우리은행) 예금주 : 쥐에스아이 </span>
									                                    </p>
									
									                                    <a href="" class="btn btn-lg">BROWSE OUR WORK</a>
									                                </div>
									                            </div>
									                        </div> -->
                                                                                        
                                                </div>
                                            </div>
                                        </div>
                                    </div> 


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End of contact section -->


            

            <!--Footer section-->
            <section class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="main_footer">
                            	<div class="text-center" style="color:#fff;line-height-:25px;max-width:100%;padding-top:15px;">
	                            	<p>
	                            		상호명:골드스탁인베스트먼트 | 주소:서울 강서구 마곡중앙로 59-17(마곡동,류마타워2)503호 | 사업자등록번호:251-56-00454
	                            		<br/>
	                            		대표자:김형주 | Tel:070-8064-5875 | E-mail:captainjoo@hanmail.net
	                            	</p>
                            	</div>
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12">
<!--                                         <div class="flowus">
                                            <a href=""><i class="fa fa-facebook"></i></a>
                                            <a href=""><i class="fa fa-twitter"></i></a>
                                            <a href=""><i class="fa fa-google-plus"></i></a>
                                            <a href=""><i class="fa fa-instagram"></i></a>
                                            <a href=""><i class="fa fa-youtube"></i></a>
                                            <a href=""><i class="fa fa-dribbble"></i></a>
                                        </div> -->
                                    </div>

                                    <div class="col-sm-6 col-xs-12">
                                        <div class="copyright_text">
                                            <p class=" wow fadeInRight" data-wow-duration="1s">Copyright GOLD STOCK INVESTMENT. All rights reserved.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End off footer Section-->











        </div>

        <!-- START SCROLL TO TOP  -->

        <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>

        <script src="/static/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="/static/js/vendor/bootstrap.min.js"></script>

        <script src="/static/js/jquery.magnific-popup.js"></script>
        <script src="/static/js/jquery.mixitup.min.js"></script>
        <script src="/static/js/jquery.easing.1.3.js"></script>
        <script src="/static/js/jquery.masonry.min.js"></script>

        <!--slick slide js -->
        <script src="/static/css/slick/slick.js"></script>
        <script src="/static/css/slick/slick.min.js"></script>


        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/main.js"></script>

    </body>
</html>
